pytest==8.3.4
pytest_mock
python-dotenv
fastapi[standard]
sqlmodel
pydantic
pydantic-settings
httpx
psycopg2-binary
boto3
fastapi-users
fastapi-users-db-sqlmodel
requests
responses
APScheduler
sqladmin
itsdangerous
