pytest==8.3.4
pytest_mock
python-dotenv
fastapi[standard]
sqlalchemy
pydantic
pydantic-settings
httpx
psycopg2-binary
asyncpg
boto3
fastapi-users[sqlalchemy]
requests
responses
APScheduler
redis
sqladmin
itsdangerous
aiosqlite
pytest-asyncio